:root{
    --mainFont: sans-serif; 
    --textColor: #6E6C6B;
    --btnColor: #C2E7FF;
    --whiteColor: white;
    --textShadow: rgba(0,0,0,0.25);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;  /*  1REM = 10x */
    font-family: var(--mainFont);
    color: var(--textColor);   
}
h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-size: 900;
    color: var(--whiteColor);
    text-shadow: 13px 6px 2px var(--textShadow);
    max-width: 35.1rem;
}
.background{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position-x: 45%;
    display: flex;
    
}
@media ( min-width: 768px ) { 
    .background{
        background-position: 60%;
    }
}
.container{
    max-width: 140rem;
    margin: 0 auto;
}
.box{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 14.5rem;
    height: 40rem;
    text-align: center;
    margin-top: 16rem;
    align-items: center;
}
.card{
    width: 100%;
    position: relative;
    bottom: 23rem;
}
@media ( min-width: 768px ) { 
    .card{
        bottom: 25rem;
    }
}
.article{
    z-index: 3;
    max-width: 70%;
    margin: 0 auto;
}
.phrase{
    font-size: 1.3rem;
    font-weight: 700;
    position: relative;
    min-height: 4.5rem;
}
.phrase::after{
    content: '';
    background-image: url('/src/assets/comilla.png');
    background-size: 1.5rem;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 4.7rem;
    right: 3rem;
    
}
@media ( min-width: 768px ) { 
    .phrase::after{
        top: 3.5rem;
    }
}
.btnNext{
    width: 30%;
    margin: 0 auto;
    margin-top: -2rem;
    display: flex;
    justify-content: center;
    padding: 1rem 1.5rem;
    background-color: var(--btnColor);
    border: 3px solid var(--whiteColor);
    color: var(--textColor);
    border-radius: 1rem;
    font-weight: 700;

}
.btnNext:hover{
    cursor: pointer;
}
@media ( min-width: 523px ) { 
    .btnNext{
        width: 20%;
        margin-top: 1rem;
    }
}


